/* css内でのコメントの書き方です */
*, *:before, *:after {
    box-sizing: border-box;
}
/* html要素に適用するcss */
html {
    font-size: 62.5%;
}
/* body要素に適用するcss */
body {
    color: #444;
    background-color: hsl(0, 0%, 96%);
}
/* h1要素に適用するcss */
h1 {
    font-size: 1.8rem;
}

